@import 'src/shared/styles/mixins';

.filters {
  display: flex;
  background: var(--white-blue);
  border-radius: 8px;
  padding: 16px;
  flex-wrap: wrap;
  gap: 16px;
  @include mobile {
    flex-direction: column;
    gap: 8px;
    padding: 16px 8px 8px 8px;
  }
}

.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  min-width: 100px;
  @include mobile {
    margin-bottom: 0;
  }
}

.input {
  width: 100%;
}

.select {
  @include mobile {
    width: 100%;
  }
}

.row {
  display: flex;
  gap: 4px;
  width: 100%;
}

.formBlock:first-child {
  width: 288px;
  @include mobile {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.formBlock:nth-child(2) {
  width: 192px;
  @include mobile {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.formBlock:nth-child(3) {
  width: 256px;
  @include mobile {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.formBlock:nth-child(4) {
  @include mobile {
    flex-direction: row;
    justify-content: center;
  }
}