.filters {
  display: flex;
  background: var(--white-blue);
  border-radius: 8px;
  padding: 16px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formBlock + .formBlock {
  margin-left: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.dateInput {
  width: 142px;
}

.dateInput + .dateInput {
  margin-left: 4px;
}

.row {
  display: flex;
}
