@import 'src/shared/styles/mixins';

.searchbar {
  display: flex;
  flex-direction: column;
}

.searchRow {
  display: flex;
  align-items: center;
}

.search {
  width: 320px;
  margin-right: 16px;
  @include mobile {
    width: 20px;
  }
}

.searchLoading {
  @include mobile {
    animation: 2s 1 normal grow;
    animation-fill-mode: forwards;
  }
}

@keyframes grow {
  from {
    width: 20px;
  }

  to {
    width: 100%;
  }
}

.button + .button {
  margin-left: 16px;
}

.loading {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 13px;
  line-height: 16px;
  color: var(--blue);
  margin-left: auto;
}

.loadingIcon {
  animation: rotate 1s infinite;
  margin-right: 8px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.filtersRow {
  margin-top: 16px;
}
