.cellSelect {
  padding: 0;
}

.selectLabel {
  display: flex;
  align-items: center;
  padding: 12px 8px;
}

.cellOrderNumber {
  flex: 1;
}

.cellDate {
  flex: 2;
}

.cellStatus {
  flex: 2;
}

.cellAmount {
  flex: 1;
}

.cellSum {
  flex: 1.5;
}

.cellCustomer {
  flex: 10;
}

.footer {
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  gap: 16px;
}

.footerRight {
  margin-left: auto;
}

.selectedCount {
  color: var(--blue);
}

.rowSelected {
  background: var(--white-blue);
}
