.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background: var(--blue);
}

.title {
  color: var(--light-blue);
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
}

.body {
  overflow-y: scroll;
  padding: 32px 24px 48px 16px;
  height: 100%;
}

.labelText {
  font-size: 13px;
  margin-bottom: 8px;
}

.input {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  background: var(--white-blue);
}

.row + .row {
  margin-top: 32px;
}

.error {
  font-size: 13px;
  color: var(--red);
  text-align: right;
  margin-right: 16px;
}

.dropdown {
  width: 176px;
  right: 0;
}

.cell {
  padding: 8px 16px;
}

.vendorCodeCell, .priceCell {
  flex: 1;
}

.nameCell {
  flex: 3;
}

.totalAmount {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}
